# Langchain / OpenAI Configurations
OPENAI_API_KEY=your_api_key_here
LLM_MODEL=gpt-4o

# ByFramework Worker Configurations
BYAI_WORKER_ID=langgraph-file-worker-1
BYAI_REDIS_HOST=127.0.0.1
BYAI_REDIS_PORT=6379
BYAI_REDIS_DB=0
# BYAI_REDIS_USERNAME=
# BYAI_REDIS_PASSWORD=
